body {
    font-family: helvetica;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    background-color: var(--dark);
    color: var(--light);
    --dark: #2c2c2c;
    --light: #f5f5f5;
    --lightred: #ff4444;
}

.red {
    color: var(--lightred);
    display: inline-block;
    margin: 0px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
    background-color: var(--dark);
}